<p class="alert alert-success" ng-show="showSavedMessage">
	Saved Successfully!
</p>

<header class="reward-admin__header row">
	<div class="reward-admin__rewardTitleContainer col-md-offset-1 col-md-10">
		<span class="rewardTitle">{{program.name}}</span>
	</div>

	<div class="col-md-2 header__actions">
		<button title="save" ng-click="saveProgram()"><i class="glyphicon glyphicon-floppy-disk"></i></button>
	</div>
</header>

<h3>What is the name of the program?</h3>
<input type="text" ng-model="program.name" />

<h3>Is this points based or action based?</h3>
<div class="btn-group">
	<button type="button" class="btn btn-default" ng-model="program.isPointsBased" btn-radio="true">Points</button>
	<button type="button" class="btn btn-default" ng-model="program.isPointsBased" btn-radio="false">Actions</button>
</div>

<div ng-if="program.isPointsBased">
	<h3>What should the points currency name be?</h3>
	<input type="text" ng-model="program.currencyName" />
</div>

<h3>What rewards should be in this program?</h3>
<ul class="programRewards">
	<li class="row" ng-repeat="reward in program.rewards">
		<div class="col-md-1"><input type="checkbox" /></div>
		<div class="col-md-8 programRewards__Name">{{reward.name}}</div>
		<div class="col-md-3 programRewards__Actions">
			<a title="edit reward" href="#/rewards/{{reward.id}}"><i class="glyphicon glyphicon-edit"></i></a>
			<a title="delete reward" href="javascript:void(0)" ng-click="deleteReward(reward)"><i class="glyphicon glyphicon-remove"></i></a>
		</div>
	</li>
</ul>

<button class="createNewReward" ng-click="newReward()">New Reward</button>

<div ng-if="program.isPointsBased">
	<h3>Which activities should earn the member {{program.currencyName}}?</h3>
	<ul class="requiredActivities">
		<li ng-repeat="action in program.activities">
			<input class="activity__points" type="text" value="123" />

			<span class="actionName ">{{action.name}}</span>
			<button class="editActivitiesButton" ng-click="program.editActivity(action)">Edit</button>
		</li>
	</ul>

	<div ng-show="program.activities.length === 0">No activities have been configured ...</div>

	<hr />

	<div class="addActivitySection" ng-class="typeOfActivityToAdd">
		<button class="addExistingActivityButton" ng-click="typeOfActivityToAdd = 'addExistingActivity'">Add Existing Activity</button>
		<button class="addExternalActivityButton" ng-click="typeOfActivityToAdd = 'addExternalActivity'">Add External Activity</button>
		<button class="addSelfReportedActivityButton" ng-click="typeOfActivityToAdd = 'addSelfReportedActivity'">Add Self-Reported Activity</button>

		<div class="addActivityPanel" ng-switch on="typeOfActivityToAdd" ng-hide="typeOfActivityToAdd === '' || typeOfActivityToAdd === undefined">
			<div ng-switch-when="addExistingActivity">
				<ul class="activitiesAvailableToAdd row">
					<li class="col-md-6" ng-repeat="activity in allActivities | filter:program.hasActivity">
						<button ng-click="program.addActivity(activity)">{{activity.name}}</button>
					</li>
				</ul>
			</div>
			<div ng-switch-when="addSelfReportedActivity">
				Self Reported
			</div>
			<div ng-switch-when="addExternalActivity">
				External
			</div>
		</div>
	</div>
</div>
