<header class="reward-admin__header row">
	<div class="reward-admin__rewardNameDisplay col-md-offset-1 col-md-10">
		<span class="rewardName">{{reward.name}}</span>
	</div>

	<div class="col-md-1">
		<button class="edit" ng-click="save()">Save</button>
	</div>
</header>

<div class="reward-admin__body row" >

	<div class="col-md-9">

		<h3>What is the description of the reward?</h3>
		<input class="editRewardsName" type="text" ng-model="reward.name" />

		<h3>What kind of reward is it?</h3>
		<select ng-options="rewardType.name for rewardType in rewardTypes" ng-model="reward.rewardType"></select>

		<div ng-show="reward.rewardType.isMoney">
			<h3>How much?</h3>
			<input type="number" value="20" class="rewardValue" ng-model="reward.moneyValue" min="0" max="10000" required />
		</div>

		<h3>What activities are required to earn this reward?</h3>
		<ul class="requiredActivities">
			<li ng-repeat="action in reward.requiredActivities">
				<span class="actionName ">{{action.name}}</span>
				<button class="editActivitiesButton" ng-click="editActivity(action)">Edit</button>
			</li>
		</ul>

		<div ng-show="reward.requiredActivities.length === 0">No Required Activities</div>

		<hr />

		<div class="addActivitySection" ng-class="typeOfActivityToAdd">
			<button class="addExistingActivityButton" ng-click="typeOfActivityToAdd = 'addExistingActivity'">Add Existing Activity</button>
			<button class="addExternalActivityButton" ng-click="typeOfActivityToAdd = 'addExternalActivity'">Add External Activity</button>
			<button class="addSelfReportedActivityButton" ng-click="typeOfActivityToAdd = 'addSelfReportedActivity'">Add Self-Reported Activity</button>

			<div class="addActivityPanel" ng-switch on="typeOfActivityToAdd" ng-hide="typeOfActivityToAdd === '' || typeOfActivityToAdd === undefined">
				<div ng-switch-when="addExistingActivity">
					<ul class="activitiesAvailableToAdd row">
						<li class="col-md-6" ng-repeat="activity in existingActivities | filter:reward.hasRequiredActivity">
							<button ng-click="addActivity(activity)">{{activity.name}}</button>
						</li>
					</ul>
				</div>
				<div ng-switch-when="addSelfReportedActivity">
					Self Reported
				</div>
				<div ng-switch-when="addExternalActivity">
					External
				</div>
			</div>
		</div>

	</div>

	<aside class="side-bar col-md-3">
		<div>
			<img class="rewardIcon" ng-src="{{reward.rewardType.image}}">
			<span class="rewardLabel">Reward Type:</span> <br/>{{reward.rewardType.name}} <br/>
			<div ng-show="reward.rewardType.isMoney">
				<span class="rewardLabel">Worth:</span> {{reward.moneyValue | currency}}
			</div>
		</div>

		<button type="button" class="enableDisable" ng-click="reward.toggleEnabled()">
			{{reward.enabled ? 'Disable' : 'Enable'}}
		</button>
	</aside>
</div>