
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.reward-admin {
	width: 800px;
	margin: 0 auto;
	min-height: 100px;
}

.rewardTitle {
	width: 100%;
	border: 0;
	font-size: 24px;
	text-align: center;
}


.reward-admin__rewardTitleContainer {
	margin: 0;
	padding: 0;
	text-align: center;
}

.side-bar {
	text-align: center;
}

.side-bar > * {
	display: block;
	margin: 10px auto;
}

.enableDisable {
	width: 100%;
}

.pickRewardType {
	padding: 0;
	margin: 0;
}
.pickRewardType > * {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 140px;
	margin: 0 4px;
}

.selectType {
	background: transparent;
	border: 0;
	padding: 0;
}

.selectType > * {
	display: block;
}

.rewardValue {
	width: 50%;
	padding: 1px 5px;
	border-style: inset inset inset none;
}

.rewardValueDollar {
	border-style: inset none inset inset;
	border-width: 2px;
	padding: 1px 5px;
}

.requiredActivities > * {
	width: 100%;
	line-height: 30px;
	clear: both;
}

.actionName {
	line-height: 44px;
}

.editActivitiesButton {
	float: right;
	margin: 5px;
}

.activitiesAvailableToAdd button {
	width: 100%;
}

.rewardLabel {
	font-weight: bold;
}

.addActivitySection {
	text-align: center;
}

.addActivityPanel {
	padding: 20px 10px;
}

.addExistingActivityButton,
.addExternalActivityButton,
.addSelfReportedActivityButton {
	background: transparent;
	border: 0;
	padding: 8px 12px;
}

.addExistingActivity .addExistingActivityButton,
.addExternalActivity .addExternalActivityButton,
.addSelfReportedActivity .addSelfReportedActivityButton,
.addActivityPanel {
	background-color: #e8e8e8;
}

.header__actions {
	font-size: 24px;
	text-align: right;
}

.header__actions button {
	background: transparent;
	border: 0;
	color: #C8C8C8;
}

.programRewards {
	margin: 0 15px;
}

.programRewards__Name {
	font-size: 16px;
}

.programRewards__Actions {
	text-align: right;
}

.editRewardsName {
	width: 100%;
}

.programRewards a {
	font-size: 24px;
}

.programRewards > li {
	margin: 8px 0;
}

.activity__points {
	width: 50px;
	line-height: 1.5em;
}

.programInput {
	width: 50%;
}